// how to we can use @extend

// first way
.article{
    border: 2px dotted green;
    border-radius: 15px;
    background-color: rgb(195, 237, 132);
    padding: 14px;
    &-header{
        color: black;
        font-size: 38px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    &-p{
        @extend .article-header;
        font-size: 28px; 
    }
    &-span{
        @extend .article-p;
        text-shadow: 2px 2px rgb(250, 255, 242);
    }
}

// second way
%public-style{
    margin: 20px;
    border: 2px double rgb(0, 0, 0);
    background-color: rgb(153, 132, 104);
    color: rgb(84, 28, 0);
    border-radius: 25px 0px ;
    padding: 12px;
    text-align: center
}

.section{
    @extend %public-style ;
    &-h1{
        font-size: 46px;
        font-weight: bold;
    }
    &-para{
        @extend %public-style ;
        font-size: 28px;
        background-color: rgb(242, 198, 141);
    }
}


// loops in sass and scss
// @each
.section {
    div {
        height: 10rem;
        width: 10rem;
        color: white;
    }
    
}

// .red {
//     background: red;
// }

// .blue {
//     background: blue;
// }

// .green {
//     background: green;
// }

// .yellow {
//     background: yellow;
// }

// .black {
//     background: black;
// }

$bg-colors : (red , blue , yellow , green , pink) ;
@each $bg-color in $bg-colors {
    .#{$bg-color} {
        background: $bg-color;
        color: white;
    }
}


// @for
.container {
    div {
        height: 10rem;
        background: green;
        color: white;
        border: 1px solid white;
    }
}

// .box-1 {
//     width: 100%;
// }

// .box-2 {
//     width: 50%;
// }

// .box-3 {
//     width: 33.333%;
// }

// .box-4 {
//     width: 25%;
// }

// .box-5 {
//     width: 20%;
// }

@for $num from 1 through 5 {
    .box-#{$num} {
        width: (100% / $num);
    }
}



// @if and @else if and  @else

.container {
    div {
        height: 10rem;
        width: 10rem;
        color: white;
    }
}

// .box-1 {
//     background: red;
// }

// .box-2 {
//     background: blue;
// }

// .box-3 {
//     background: green;
// }

// .box-4 {
//     background: yellow;
// }

// .box-5 {
//     background: black;
// }


@for $num from 1 through 6 {
    .box-#{$num} {
        @if $num == 1 {
            background: red;
        }
        @else if $num == 2 {
            background: blue;
        }
        @else if $num == 3 {
            background: green;
        }
        @else if $num == 4 {
            background: yellow;
        }
        @else if $num == 5 {
            background: black;
        }
        @else {
            background: gray;
        }
    }
}