/*  list styling  */
ul {
  list-style-type: armenian;
  /* circle - square - none - armenian - ... */
  list-style-position: inside;
  /* inside - outside */
  list-style-image: url("download.png");
}

.list {
  display: inline;
}

a {
  color: #383898;
  text-decoration: none;
}

a:hover {
  color: rgb(96, 17, 169);
  background: skyblue;
  text-decoration: 2px solid black;
}

a:visited {
  color: aquamarine;
}

a:active {
  color: chartreuse;
}

tr,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  background-color: #d3d35d;
}
tr:nth-child(even) {
  background-color: #1b3f0b5a;
}

input {
  display: block;
  border-radius: 20px;
  padding: 5px 5px;
  margin: 7px;
}

label {
  font-weight: 800;
  color: rgb(0, 23, 128);
}

input[type="password"] {
  border: none;
  border: 1px dashed rgb(244, 81, 81);
}

input[type="button"] {
  background-color: ;
  box-shadow: 5px black;
}
