@import 'varaible';

.submit{
    background-color: $color4;
    font-weight: bold;
    color:$color1 ;
    font-size: 20px;
    border-radius: 25%;
    width: 100px;
    height: 60px;
    margin: 25px;

}